# Project: Car Price Analysis Project

# Problem Statment:

As a car dealership owner, I want to analyze and optimize our pricing strategy to maximize profitability and customer satisfaction.Optimize Pricing Strategy: Determine the ideal pricing for each car model, taking into account factors such as the model year, brand, mileage, and certification status. The aim is to set competitive prices that attract customers while maximizing our profit margins.

# Extract Data: Data Collection From https://www.cars.com/ website

Data Collect:
1. Certified
2. model
3. mileage
4. price 
5. monthly_payment
6. dealer
7. review
8. rating

# Import Library

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [2]:
url="https://www.cars.com/shopping/results/?deal_ratings[]=great&deal_ratings[]=good&deal_ratings[]=fair&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=&maximum_distance=all&mileage_max=&monthly_payment=&page=1&page_size=20&sort=best_match_desc&stock_type=all&year_max=&year_min=&zip="
response = requests.get(url)

In [3]:
soup=BeautifulSoup(response.content,'html.parser')

In [4]:
result=soup.find_all('div',class_="vehicle-details")

In [11]:
certified = []
model = []
mileage = []
price = []
monthly = []
dealer=[]
review=[]
rating=[]

for i in range(1,200):
    url="https://www.cars.com/shopping/results/?deal_ratings[]=great&deal_ratings[]=good&deal_ratings[]=fair&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=&maximum_distance=all&mileage_max=&monthly_payment=&page=1"+str(i)
    response = requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    result=soup.find_all('div',class_="vehicle-details")
    

    for results in result:  # Assuming 'results' is a list of HTML elements
        try:
            certified.append(results.find('p', class_="stock-type").get_text())
        except:
            certified.append("N/A")

        try:
            model.append(results.find('h2', class_="title").get_text())
        except:
            model.append("N/A")

        try:
            mileage.append(results.find('div', class_='mileage').get_text())
        except:
            mileage.append("N/A")

        try:
            price.append(results.find('span', class_='primary-price').get_text())
        except:
            price.append("N/A")

        try:
            monthly.append(results.find('span', class_='sds-badge__label').get_text())
        except:
            monthly.append("N/A")

        try:
            dealer.append(results.find('div', class_='dealer-name').get_text())
        except:
            dealer.append("N/A")

        try:
            review.append(results.find('span', class_='sds-rating__link').get_text())
        except:
            review.append("N/A")

        try:
            rating.append(results.find('span', class_='sds-rating__count').get_text())
        except:
            rating.append("N/A")

In [138]:
data=pd.DataFrame({'certified':certified,'model':model,'mileage':mileage,'price':price,'monthly':monthly,'dealer':dealer,'review':review,'rating':rating})

In [139]:
data

,certified,model,mileage,price,monthly,dealer,review,rating
0,New,2024 Hyundai Tucson Limited,N/A,"$40,280",Hot Car,\nSuntrup Hyundai South\n,N/A,N/A
1,Used,2020 BMW X5 xDrive40i,"44,710 mi.","$39,894",Good Deal | $607 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6
2,Acura Certified,2021 Acura RDX Advance Package,"25,380 mi.","$38,495",Good Deal,\nEd Napleton Acura Kia\n,(608 reviews),3.6
3,Kia Certified,2021 Kia Sorento SX,"26,568 mi.","$33,464",Good Deal | $503 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6
4,Used,2020 Lincoln Aviator Black Label AWD,"49,383 mi.","$45,999",Good Deal | $619 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6
...,...,...,...,...,...,...,...,...
4173,Used,2019 Chevrolet Suburban Premier,"90,330 mi.","$43,159",Fair Deal,\nAutoNation Buick GMC Park Meadows\n,(698 reviews),4.5
4174,Used,2021 Ford Ranger XLT,"25,053 mi.","$32,595",Fair Deal,\nDESOTO Ford\n,(346 reviews),4.4
4175,GMC Certified,2021 GMC Canyon Elevation,"51,179 mi.","$34,000",Fair Deal,\nSalt Lake Valley Buick GMC\n,(163 reviews),3.2
4176,Used,2021 Volkswagen Jetta 1.4T SE,"61,628 mi.","$20,311",Fair Deal,\nWalla Walla Valley Honda\n,(152 reviews),4.1
4177,Used,2016 Lexus GX 460 Base,"76,125 mi.","$35,990",Fair Deal,\nBMW of Salem\n,(747 reviews),4.8

# UnderStand Data

In [140]:
#check first five rows
data.head(5)

,certified,model,mileage,price,monthly,dealer,review,rating
0,New,2024 Hyundai Tucson Limited,N/A,"$40,280",Hot Car,\nSuntrup Hyundai South\n,N/A,N/A
1,Used,2020 BMW X5 xDrive40i,"44,710 mi.","$39,894",Good Deal | $607 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6
2,Acura Certified,2021 Acura RDX Advance Package,"25,380 mi.","$38,495",Good Deal,\nEd Napleton Acura Kia\n,(608 reviews),3.6
3,Kia Certified,2021 Kia Sorento SX,"26,568 mi.","$33,464",Good Deal | $503 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6
4,Used,2020 Lincoln Aviator Black Label AWD,"49,383 mi.","$45,999",Good Deal | $619 under,\nEd Napleton Acura Kia\n,(608 reviews),3.6

In [141]:
#check last five rows
data.tail(5)

,certified,model,mileage,price,monthly,dealer,review,rating
4173,Used,2019 Chevrolet Suburban Premier,"90,330 mi.","$43,159",Fair Deal,\nAutoNation Buick GMC Park Meadows\n,(698 reviews),4.5
4174,Used,2021 Ford Ranger XLT,"25,053 mi.","$32,595",Fair Deal,\nDESOTO Ford\n,(346 reviews),4.4
4175,GMC Certified,2021 GMC Canyon Elevation,"51,179 mi.","$34,000",Fair Deal,\nSalt Lake Valley Buick GMC\n,(163 reviews),3.2
4176,Used,2021 Volkswagen Jetta 1.4T SE,"61,628 mi.","$20,311",Fair Deal,\nWalla Walla Valley Honda\n,(152 reviews),4.1
4177,Used,2016 Lexus GX 460 Base,"76,125 mi.","$35,990",Fair Deal,\nBMW of Salem\n,(747 reviews),4.8

In [142]:
#check sample five rows
data.sample(5)

,certified,model,mileage,price,monthly,dealer,review,rating
1885,Mercedes-Benz Certified,2021 Mercedes-Benz S-Class S 580 4MATIC,"16,188 mi.","$91,381","Good Deal | $1,128 under",\nMercedes-Benz of West Chester\n,"(1,816 reviews)",4.5
2936,GMC Certified,2021 GMC Canyon Elevation,"51,179 mi.","$34,000",Fair Deal,\nSalt Lake Valley Buick GMC\n,(163 reviews),3.2
998,Used,2016 BMW 750 i xDrive,"91,281 mi.","$22,984","Great Deal | $3,478 under",\nAutoNation Honda Dulles\n,"(3,155 reviews)",4.7
1477,Cadillac Certified,2021 Cadillac CT5 Premium Luxury AWD,"38,602 mi.","$36,200",Good Deal,\nSport Chevrolet Cadillac\n,(351 reviews),4.7
4167,Used,2023 Chevrolet Silverado 1500 LT,"4,553 mi.","$52,999",Fair Deal,\nMazda 112\n,"(1,952 reviews)",4.9

In [143]:
# check data shape
data.shape

(4178, 8)

In [144]:
# cehck columns name
data.columns

Index(['certified', 'model', 'mileage', 'price', 'monthly', 'dealer', 'review',
       'rating'],
      dtype='object')

In [145]:
# check data type
data.dtypes

certified    object
model        object
mileage      object
price        object
monthly      object
dealer       object
review       object
rating       object
dtype: object

In [146]:
# check basic info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4178 entries, 0 to 4177
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   certified  4178 non-null   object
 1   model      4178 non-null   object
 2   mileage    4178 non-null   object
 3   price      4178 non-null   object
 4   monthly    4178 non-null   object
 5   dealer     4178 non-null   object
 6   review     4178 non-null   object
 7   rating     4178 non-null   object
dtypes: object(8)
memory usage: 261.2+ KB

# Data Tranasform

### Certified Columns

In [147]:
data.rename(columns={'certified':'Certified'},inplace=True)

In [148]:
data['Certified'].value_counts()

Used                       3554
GMC Certified               116
Honda Certified             114
New                          92
Porsche Certified            61
Toyota Certified             43
Chevrolet Certified          32
Ford Certified               27
Mercedes-Benz Certified      20
BMW Certified                14
Volvo Certified              14
Audi Certified               12
Kia Certified                11
Acura Certified              11
Hyundai Certified            11
Nissan Certified             10
INFINITI Certified            9
Jeep Certified                5
RAM Certified                 4
Cadillac Certified            3
Volkswagen Certified          3
Lincoln Certified             3
Dodge Certified               3
Subaru Certified              2
Buick Certified               2
Chrysler Certified            1
Maserati Certified            1
Name: Certified, dtype: int64

### model

In [149]:
data.rename(columns={'model':'Model_Name'},inplace=True)

In [150]:
data['Model_Year']=data['Model_Name'].str.split(' ').str[0]
data['Brand_Name']=data['Model_Name'].str.split(' ').str[1]

### mileage

In [151]:
data.rename(columns={'mileage':'Mileage'},inplace=True)

In [152]:
data['Mileage']=data['Mileage'].replace('NaN',0)

In [153]:
data['Mileage']=data['Mileage'].str.replace('mi','')

In [154]:
data['Mileage']=data['Mileage'].str.replace(',','')

In [155]:
data['Mileage']=data['Mileage'].str.replace('.','')

In [195]:
data['Mileage']=data['Mileage'].replace('N/A',0)

In [197]:
#Handeling Null Values
data['Mileage']=data['Mileage'].fillna(round(data['Mileage'].median()))

In [198]:
data['Mileage']=data['Mileage'].astype('int')

In [199]:
data['Mileage'].unique()

array([    0, 44710, 25380, ..., 51179, 61628, 76125])

### Price

In [157]:
data.rename(columns={'price':'Price'},inplace=True)

In [158]:
data['Price']=data['Price'].str.replace('$','')

In [159]:
data['Price']=data['Price'].str.replace(',','')

In [162]:
data['Price']=data['Price'].astype('int')

In [161]:
data=data[data['Price']!='Not Priced']

### Dealer

In [163]:
data.rename(columns={'dealer':'Delaer_Name'},inplace=True)

In [164]:
data['Delaer_Name']=data['Delaer_Name'].str.replace('\n','')

### Review

In [165]:
data.rename(columns={'review':'Review'},inplace=True)

In [166]:
data['Review']=data['Review'].str.replace('(','')

In [167]:
data['Review']=data['Review'].str.replace(')','')

In [168]:
data['Review']=data['Review'].str.replace('reviews','')

In [169]:
data['Review']=data['Review'].str.replace(',','')

In [170]:
data['Review']=data['Review'].replace('N/A',0)

In [233]:
data['Review']=data['Review'].str.replace('review','').astype('float')

### Rating

In [171]:
data.rename(columns={'rating':'Rating'},inplace=True)

In [172]:
data['Rating']=data['Rating'].replace('N/A',0).astype('float')

# Monthly

In [174]:
#Extract Two Columns Deal and Monthly Payment
data['Deal']=data['monthly'].str.split('|').str[0]
data['Monthly_payment']=data['monthly'].str.split('|').str[1]

In [175]:
data['Deal']=data['Deal'].str.replace('N/A','Other')

In [176]:
data['Deal'].unique()

array(['Hot Car', 'Good Deal ', 'Good Deal', 'Great Deal ', 'Other',
       'Fair Deal', 'Great Deal'], dtype=object)

In [177]:
data['Deal']=data['Deal'].map({'Hot Car':'Other Deal','Good Deal ':'Good Deal','Good Deal':'Good Deal','Great Deal ':'Great Deal','Great Deal':'Great Deal','Other':'Other Deal','Fair Deal':'Fair Deal'})

In [178]:
data['Deal'].unique()

array(['Other Deal', 'Good Deal', 'Great Deal', 'Fair Deal'], dtype=object)

### Monthly Payment

In [179]:
data['Monthly_payment']=data['Monthly_payment'].str.replace('under','')

In [180]:
data['Monthly_payment']=data['Monthly_payment'].str.replace('$','')

In [181]:
data['Monthly_payment']=data['Monthly_payment'].str.replace(',','')

In [187]:
# check duplicated
data.duplicated().sum()

2083

In [189]:
#drop duplicated
data.drop_duplicates(inplace=True)

In [190]:
# Again check duplicated after drop duplicated
data.duplicated().sum()

0

In [242]:
# checking null values
data.isnull().sum()

Certified             0
Model_Name            0
Mileage               0
Price                 0
monthly               0
Delaer_Name           0
Review              112
Rating                0
Model_Year            0
Brand_Name            0
Deal                  0
Monthly_payment    1054
Rating_Group          0
Price_Group           0
Certified_Group       0
dtype: int64

In [243]:
# handeling missing value review columns
data['Review'].median()

390.0

In [244]:
data['Review']=data['Review'].fillna(data['Review'].median())

In [246]:
# Again Check Null Values
data.isnull().sum()

Certified             0
Model_Name            0
Mileage               0
Price                 0
monthly               0
Delaer_Name           0
Review                0
Rating                0
Model_Year            0
Brand_Name            0
Deal                  0
Monthly_payment    1054
Rating_Group          0
Price_Group           0
Certified_Group       0
dtype: int64

In [247]:
# drop monthly columns
data.drop(columns=['monthly'],axis=1,inplace=True)

In [252]:
data['Id']=data.index

# Data Tranasform or Feature Enginering

### Rating Group

In [204]:
print(data['Rating'].max())
print(data['Rating'].min())

5.0
0.0

In [256]:
# rating group
def rating(feature):
    if feature>=0.0 and feature<1.0:
        return "Bad"
    elif feature>=1.0 and feature<2.0:
        return "One Star"
    elif feature>=2.0 and feature<3.0:
        return "Two Star"
    elif feature>=3.0 and feature<4.0:
        return "Three Star"
    elif feature>=4.0 and feature<5.0:
        return "Four Star"
    else:
        return "Five Star"

In [257]:
data['Rating_Group']=data['Rating'].apply(rating)

### Price Group

In [208]:
print(data['Price'].max())
print(data['Price'].min())

247094
3410

In [215]:
# Price group
def price(feature):
    if feature>=0 and feature<=50000:
        return "Low Price"
    elif feature>50000 and feature<=100000:
        return "Medium Price"
    else:
        return "High Price"

In [216]:
data['Price_Group']=data['Price'].apply(price)

In [218]:
data['Price_Group'].value_counts()

Low Price       1603
Medium Price     431
High Price        58
Name: Price_Group, dtype: int64

In [239]:
# Certified group
def certified(feature):
    if feature=='New':
        return "New"
    elif feature=="Used":
        return "Used"
    else:
        return "Brand_New"

In [240]:
data['Certified_Group']=data['Certified'].apply(certified)

In [258]:
data.head()

,Id,Model_Name,Model_Year,Brand_Name,Delaer_Name,Certified,Certified_Group,Deal,Mileage,Rating,Rating_Group,Review,Price,Price_Group
0,0,2024 Hyundai Tucson Limited,2024,Hyundai,Suntrup Hyundai South,New,New,Other Deal,0,0.0,Bad,390.0,40280,Low Price
1,1,2020 BMW X5 xDrive40i,2020,BMW,Ed Napleton Acura Kia,Used,Used,Good Deal,44710,3.6,Three Star,608.0,39894,Low Price
2,2,2021 Acura RDX Advance Package,2021,Acura,Ed Napleton Acura Kia,Acura Certified,Brand_New,Good Deal,25380,3.6,Three Star,608.0,38495,Low Price
3,3,2021 Kia Sorento SX,2021,Kia,Ed Napleton Acura Kia,Kia Certified,Brand_New,Good Deal,26568,3.6,Three Star,608.0,33464,Low Price
4,4,2020 Lincoln Aviator Black Label AWD,2020,Lincoln,Ed Napleton Acura Kia,Used,Used,Good Deal,49383,3.6,Three Star,608.0,45999,Low Price

In [253]:
data.columns

Index(['Certified', 'Model_Name', 'Mileage', 'Price', 'Delaer_Name', 'Review',
       'Rating', 'Model_Year', 'Brand_Name', 'Deal', 'Monthly_payment',
       'Rating_Group', 'Price_Group', 'Certified_Group', 'Id'],
      dtype='object')

In [254]:
data=data[['Id','Model_Name','Model_Year','Brand_Name','Delaer_Name','Certified','Certified_Group','Deal','Mileage','Rating','Rating_Group','Review','Price','Price_Group']]

In [255]:
data

,Id,Model_Name,Model_Year,Brand_Name,Delaer_Name,Certified,Certified_Group,Deal,Mileage,Rating,Rating_Group,Review,Price,Price_Group
0,0,2024 Hyundai Tucson Limited,2024,Hyundai,Suntrup Hyundai South,New,New,Other Deal,0,0.0,One Star,390.0,40280,Low Price
1,1,2020 BMW X5 xDrive40i,2020,BMW,Ed Napleton Acura Kia,Used,Used,Good Deal,44710,3.6,Four Star,608.0,39894,Low Price
2,2,2021 Acura RDX Advance Package,2021,Acura,Ed Napleton Acura Kia,Acura Certified,Brand_New,Good Deal,25380,3.6,Four Star,608.0,38495,Low Price
3,3,2021 Kia Sorento SX,2021,Kia,Ed Napleton Acura Kia,Kia Certified,Brand_New,Good Deal,26568,3.6,Four Star,608.0,33464,Low Price
4,4,2020 Lincoln Aviator Black Label AWD,2020,Lincoln,Ed Napleton Acura Kia,Used,Used,Good Deal,49383,3.6,Four Star,608.0,45999,Low Price
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2094,2094,2019 Chevrolet Suburban Premier,2019,Chevrolet,AutoNation Buick GMC Park Meadows,Used,Used,Fair Deal,90330,4.5,Five Star,698.0,43159,Low Price
2095,2095,2021 Ford Ranger XLT,2021,Ford,DESOTO Ford,Used,Used,Fair Deal,25053,4.4,Five Star,346.0,32595,Low Price
2096,2096,2021 GMC Canyon Elevation,2021,GMC,Salt Lake Valley Buick GMC,GMC Certified,Brand_New,Fair Deal,51179,3.2,Four Star,163.0,34000,Low Price
2097,2097,2021 Volkswagen Jetta 1.4T SE,2021,Volkswagen,Walla Walla Valley Honda,Used,Used,Fair Deal,61628,4.1,Five Star,152.0,20311,Low Price
2098,2098,2016 Lexus GX 460 Base,2016,Lexus,BMW of Salem,Used,Used,Fair Deal,76125,4.8,Five Star,747.0,35990,Low Price

# Export Data in Data Warehouse Bigquery

In [249]:
from google.cloud import bigquery
from pandas_gbq import to_gbq

In [259]:
# Replace with your destination table's details
project_id = 'dbt-project-396315'
dataset_id = 'pizza_sales'
table_id = 'car_data'

# Upload DataFrame to BigQuery
to_gbq(data, destination_table=f"{project_id}.{dataset_id}.{table_id}", project_id=project_id, if_exists='replace')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<?, ?it/s]